.container-top {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

.container-left {
  width: 100%;
  height: 100%;
  border: 0.5px solid gray;
  /* box-shadow: 2px 0px 28px 2px rgba(81, 23, 23, 0.75);
  -webkit-box-shadow: 2px 0px 28px 2px rgba(103, 37, 37, 0.75);
  -moz-box-shadow: 2px 0px 28px 2px rgba(116, 33, 33, 0.75); */
  border-radius: 0.5rem;
  flex: 2;
}
.container-right {
  width: 100%;
  height: 100%;
  flex: 1;
  /* background-color: red; */
}
.container-chg {
  width: 100%;
  height: 100%;
  border: 0.5px solid gray;
  /* box-shadow: 2px 0px 28px 2px rgba(81, 23, 23, 0.75);
  -webkit-box-shadow: 2px 0px 28px 2px rgba(103, 37, 37, 0.75);
  -moz-box-shadow: 2px 0px 28px 2px rgba(116, 33, 33, 0.75); */
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bar-chg{
  width: 100%;
  height: 100%;
}
.display-chg {
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  font-weight: bold;
}
.display-chg>h6 {
  font-size: 0.75rem;
  text-align: center;
}
.display-chg>ul>li {
margin-bottom: 0.5rem;
}
.display-chg>ul>span {
  background-color: gray;
  padding: 0.3rem;
  border-radius: 30%;
}

.doughnut-container {
  width: 100%;
  height: 100%;
  border: 0.5px solid gray;
  /* box-shadow: 2px 0px 28px 2px rgba(81, 23, 23, 0.75);
  -webkit-box-shadow: 2px 0px 28px 2px rgba(103, 37, 37, 0.75);
  -moz-box-shadow: 2px 0px 28px 2px rgba(116, 33, 33, 0.75); */
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.75rem 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
}

.doughnut-left {
  width: 100%;
  height: 100%;
}
.doughnut-right {
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  font-weight: bold;
}

.doughnut-right>h6 {
  font-size: 0.75rem;
  text-align: center;
}
.doughnut-right>ul>li {
margin-bottom: 0.5rem;
}
.doughnut-right>ul>span {
  background-color: gray;
  padding: 0.3rem;
  border-radius: 30%;
}
.doughnut-right>p {
  font-weight: normal;
}

.container-bottom {
  border: 0.5px solid gray;
  /* box-shadow: 2px 0px 28px 2px rgba(81, 23, 23, 0.75);
  -webkit-box-shadow: 2px 0px 28px 2px rgba(103, 37, 37, 0.75);
  -moz-box-shadow: 2px 0px 28px 2px rgba(116, 33, 33, 0.75); */
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}